.post__comment-section-line {
  background: lighten($light-gray, 7%);
  width: 768px;
  height: 1px;
  margin: 4rem auto;
}

.post__add-comment-wrapper {
  width: 768px;
  margin: 0 auto;
}

.comment__not-auth {
  border: 1px solid $light-gray;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.7rem;
}

.comment__not-auth-notice {
  font-weight: 500;
  color: darken($dark-gray, 10%);
  margin-left: 0.5rem;
}

.comment__login-btn {
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $indigo;
  color: $indigo !important;
  padding: 0.7rem 1.3rem;
  border-radius: 0.6rem;
  outline: none;
  margin-left: 26.2rem;
  font-weight: 500;

  &:hover {
    color: lighten($indigo, 20%) !important;
    border: 1px solid lighten($indigo, 20%);
  }
}

.comment__signup-btn {
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $indigo;
  color: $white !important;
  background-color: $indigo;
  padding: 0.7rem 1.3rem;
  border-radius: 0.6rem;
  outline: none;
  margin-left: 1rem;
  font-weight: 500;

  &:hover {
    background-color: lighten($indigo, 10%);
  }
}

.comment__auth {
  display: flex;
  width: 768px;
  flex-direction: column;
  align-items: flex-end;
}

.comment-area-wrapper {
  width: 100%;
  height: 105px;
}

.comment-area {
  resize: none;
  padding: 1rem 1rem 1.5rem;
  outline: none;
  border: 1px solid $light-gray;
  width: 100%;
  border-radius: 0.4rem;
  min-height: 6.125rem;
  font-size: 1.6rem;
  color: $black;
  line-height: 1.75;
  box-sizing: border-box;

  &:focus {
    border: 1px solid $indigo;
    box-shadow: 0 0 0 1px $indigo;
  }
}

.empty-comment {
  border: 1px solid $light-red;
  box-shadow: 0 0 0 1px $light-red;
}

.empty-comment-notice {
  color: $light-red;
  font-size: 1.4rem;
}

.add-comment-btn {
  padding: 0.7rem 1.2rem;
  background-color: $indigo;
  color: $white;
  border: 1px solid $indigo;
  border-radius: 0.4rem;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: lighten($indigo, 6%);
    transition: all ease 0.15s;
  }
}

.post__comments-wrapper {
  width: 768px;
  margin: 4rem auto 0;
  padding: 2rem 0;
}

.post__comment-item {
  margin: 3.6rem 0;
  padding: 1.4rem 0;

  &:not(:first-child) {
    border-top: 1px solid lighten($dark-gray, 10%);
  }
}

.comment-info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.comment__user-and-time {
  margin-left: 2rem;
}

.comment-username {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.comment__user-avatar-wrapper {
  width: 54px;
  height: 54px;

  & > img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid $light-gray;
  }
}

.comment-actions {
  margin-left: 42rem;
}

.comment__edit-btn {
  margin-right: 1rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: $light-gray;
  }
}

.comment__delete-btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: $light-red;

  &:hover {
    color: $dark-red;
  }
}

.comment-text {
  line-height: 1.75;
  margin-top: 1.5rem;
  color: $black;
  font-size: 1.8rem;
  word-break: keep-all;
  overflow-wrap: break-word;
}
