#editor-toolbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.ql-container {
  font-family: Poppins, 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 18px !important;
  background-color: $white !important;
  height: 90vh !important;
}

.ql-editor {
  line-height: 1.7 !important;
  padding: 2.2rem 1.6rem !important;
}

.ql-toolbar {
  font-family: Poppins !important;
  background-color: $white !important;
}

.ql-formats {
  display: flex !important;
  align-items: center !important;
}

.ql-size-small {
  font-size: 14px !important;
}

.ql-toolbar button {
  height: 29px !important;
  width: 30px !important;
}

.ql-editor blockquote {
  border-left: 4px solid $indigo !important;
  margin: 2rem 1.2rem;
}

.ql-editor code {
  font-family: Poppins, 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.ql-picker.ql-size {
  margin-top: 2px !important;
}

.ql-color-picker {
  width: 33px !important;
}

.ql-picker-options {
  width: 212px !important;
}

/* button's active color */
button.ql-active {
  color: $indigo !important;
}

.ql-editor ol > li,
.ql-editor ul > li {
  padding: 0.1rem;
  margin: 0.7rem 0;
}

/* headers */
.ql-editor h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.5rem 0 2rem !important;
  padding: 0 !important;
}

.ql-editor h1 {
  font-size: 5rem !important;
}

.ql-editor h2 {
  font-size: 4rem !important;
}

.ql-editor h3 {
  font-size: 3.2rem !important;
}

.ql-editor h4 {
  font-size: 2.7rem !important;
}

.ql-editor h5 {
  font-size: 2.1rem !important;
}

.ql-editor h6 {
  font-size: 1.5rem !important;
}

.ql-editor a {
  text-decoration: none;
  color: #006dda;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.ql-align {
  width: 29px !important;
}

#ql-picker-options-1 {
  width: 100% !important;
}

.editor-add-link-div {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
  color: $white;
  box-shadow: 1px 1px 2px 1px $dark-gray;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 1rem;
  border-radius: 0.3rem;

  & > .editor-add-link-button {
    margin: 0.3rem auto;
    width: 80px;
    background: none;
    border: none;
    color: $white;
    padding: 0.5rem 0;
    cursor: pointer;

    &:hover {
      color: darken($white, 20%);
    }
  }
}

.add-link-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;

  & > input {
    width: 85%;
    padding: 0.7rem;
    font-size: 1.8rem;
    border: 1px solid $dark-gray;
    border: none;
    outline: none;
    border-radius: 0.3rem;
  }

  & > input:focus {
    box-shadow: 0 0 0 1px $white;
  }
}

.ql-editor .ql-video {
  width: 60vw;
  height: 54vh;
  max-width: 1000px !important;
  max-height: 500px;
}

.medium-editor-element {
  height: 1000px;
  padding: 1rem;
  width: 80vw;
  margin: 0 auto;
}

.ql-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  clear: both;
  outline: none;
  margin-top: 5.5rem;
}

.ql-image-wrapper {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0px 0px 1px 1px $light-gray;

  &:hover {
    box-shadow: 0px 0px 1px 1px $indigo;
  }

  &:focus {
    border: 1px solid $indigo;
  }
}

.ql-image-actions {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
  color: $white;
  box-shadow: 1px 1px 1px 1px $light-gray;
  z-index: 99;
  width: 100px;
  text-align: center;
  border-radius: 0.4rem;
  margin-top: 1rem;
  left: calc(50% - 50px);
  cursor: pointer;
}

.caption-input-wrapper {
  position: relative;
  z-index: 99;
  margin: 1rem 0 4rem;
  width: 30%;
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.ql-caption-input {
  outline: none;
  border: none;
  border-bottom: 1px solid $white;
  color: $white;
  background: none;
  padding: 0.2rem 0.4rem;
  line-height: 1.7;
  font-size: 1.6rem;
  width: 70%;
}

.caption-apply-btn {
  border: none;
  background: none;
  outline: none;
  color: $white;
  cursor: pointer;
  width: 30%;
  height: 30px;

  &:hover {
    color: darken($white, 15%);
  }
}

.close-caption-btn,
.cancel-caption,
.close-edit-actions {
  width: 24px;
  height: 26px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
  border-radius: 50%;
  font-size: 1.4rem;
  font-weight: 500;
  bottom: -3.3rem;
  left: calc(50% - 12px);
  cursor: pointer;

  &:hover {
    color: darken($white, 20%);
  }
}

.caption-edit-actions {
  position: relative;
  z-index: 99;
  margin: 0.2rem 0 4rem;
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.caption-edit-btn {
  color: $white;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 0.3rem;
  height: 30px;

  &:hover {
    color: darken($white, 15%);
  }
}

.caption-delete-btn {
  color: $white;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 0.3rem;
  height: 30px;

  &:hover {
    color: darken($white, 15%);
  }
}

.ql-figcaption {
  color: #7e7e7e;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.prevent-scroll-to-top {
  height: 0;
}
