.navbar {
  padding: 1.2rem;
}

.navbar__contents {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 150rem;
}

.navbar__logo {
  margin-right: 1.5vw;
}

.navbar__search-form {
  width: 60%;
  margin: 0 2rem 0;
  position: relative;
  max-width: 80rem;
}

.navbar__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $dark-gray;
  outline: none;
  font-size: 2rem;
  padding: 1rem 1rem 0.5rem 0.7rem;

  &:focus {
    border-bottom: 1px solid $indigo;
    box-shadow: 0 1px 0 0 $indigo;
    transition: all ease 0.2s;
  }
  /* if search-input has focus, set search-icon's color to black*/
  &:focus + .navbar__search-icon {
    color: $black;
    transition: all ease 0.2s;
  }
}

.navbar__search-icon {
  width: 20px;
  height: 20px;
  color: $dark-gray;
  position: absolute;
  top: 1.1rem;
  right: 1rem;
}

.navbar__auth-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
