.nickname-page {
}

.nickname-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.nickname-page__main-title {
  margin: 0;
  font-weight: 700;
  font-size: 7rem;
  color: $indigo;
}

.nickname-page__site-name {
  margin: 0;
  font-size: 3rem;
}

.nickname-page__auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem auto;
  width: 55%;
}

.nickname-page__nickname-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4rem;

  & > label {
    font-size: 2rem;
  }

  & > small {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}

.nickname-page__nickname {
  display: block;
  width: 100%;
  margin-top: 0.5rem;

  &:focus ~ label {
    color: $dark-green;
    transition: all ease 0.15s;
  }
}

.nickname-page__submit-button {
  margin-top: 7rem;
}
