.add-post-container {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;

  & > div {
    width: 80%;
  }
}

.add-post__title-container {
  margin-bottom: 3rem;
}

.add-post__title-input {
  width: 100%;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid $white;
  border-radius: 0.4rem;
  outline: none;
  box-shadow: 0 0 1px 1px $light-gray;

  &:focus {
    border: 1px solid $indigo;
    transition: all ease 0.15s;
  }
}

.add-post__title-error {
  display: inline-block;
  margin: 0.5rem 0 0 0.2rem;
  color: red;
  font-size: 1.4rem;
}

.add-post__tag-container {
  display: flex;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.add-post__tag-input {
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid $white;
  border-radius: 0.4rem;
  outline: none;
  box-shadow: 0 0 1px 1px $light-gray;

  &:focus {
    border: 1px solid $indigo;
    transition: all ease 0.15s;
  }

  &:disabled {
    background-color: $light-gray;
    cursor: not-allowed;
  }
}

.tag-tooltip {
  margin-top: 0.3rem;
  background-color: #495057;
  color: $white;
  padding: 1rem;
  z-index: 99;
  width: 642px;
  line-height: 2.5rem;
  font-size: 1.8rem;
}

.registered-tags {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.tag-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.5rem;
  margin: 0 1.5rem 1.3rem 0;
  border: 1px solid $light-gray;
  font-size: 1.8rem;
  font-weight: 500;
  box-shadow: 0 0 0 1px lighten($light-gray, 10%);
  color: $indigo;
  border-radius: 1rem;
  background-color: lighten($light-gray, 16%);
  cursor: pointer;
  transition: all ease 0.17s;

  &:hover {
    box-shadow: 0 0 0 2px $indigo;
  }
}

.add-post__privacy-settings {
  margin: 3rem 0 7rem;

  & > h2 {
    margin: 1rem 0 2rem;
  }
}

.privacy-buttons {
  display: flex;
  flex-direction: row;
}

.privacy-btn {
  display: flex;
  align-items: center;
  border: 1px solid $white;
  border-radius: 0.4rem;
  padding: 1.2rem 3rem;
  font-size: 1.8rem;
  background-color: $white;
  cursor: pointer;
  box-shadow: 0 0 1px 1px $light-gray;

  & > svg {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }

  &:hover {
    box-shadow: 0 0 4px 0 $black;
  }
}

.add-post__privacy-public {
  margin-right: 2rem;
}

.privacy-checked {
  border: 1px solid $indigo;
  color: $indigo;
}

.add-post__publish-btn {
  background-color: $indigo;
  color: $white;
  outline: none;
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 2rem;
  box-shadow: 0 0 1px 1px $light-gray;
  margin-right: 2rem;
  cursor: pointer;

  &:hover {
    background-color: darken($indigo, 20%);
    color: darken($white, 15%);
    transition: all ease 0.15s;
  }
}

.add-post__save-btn {
  background-color: $white;
  color: $black;
  outline: none;
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 2rem;
  box-shadow: 0 0 1px 1px $light-gray;
  margin-right: 2rem;
  cursor: pointer;

  &:hover {
    background-color: darken($white, 20%);
    transition: all ease 0.15s;
  }
}

/* home posts */
.home-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem auto;
  padding: 0 2rem;
  max-width: 1640px;
}

.home-post-item {
  position: relative;
  width: 32rem;
  height: 19rem;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 2px $light-gray;
  transition: box-shadow 0.2s ease-in 0s, transform 0.2s ease-in 0s;
  margin: 6rem 3rem;
  padding: 1rem 1rem 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 1px 2px 4px 2px darken($dark-gray, 10%);
  }
}

.home-post__title {
  font-size: 2.2rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.home-post__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.4rem;
  padding-bottom: 0.3rem;
  max-height: 7rem;
  overflow: hidden;
}

.home-post__tag-item {
  font-size: 1.4rem;
  border: 1px solid $indigo;
  margin: 0.6rem 0.7rem 0 0;
  padding: 0.3rem 0.5rem;
  color: $indigo;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px 1px $dark-gray;
}

.home-post__created-at {
  position: absolute;
  left: 1.1rem;
  bottom: 4.2rem;
}

.home-post__nickname {
  position: absolute;
  bottom: 0.9rem;
  width: 94%;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid $light-gray;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.home-post__by {
  color: $dark-gray;
  margin-right: 0.5rem;
}

.home-post__avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0.6rem;

  & > img {
    object-fit: cover;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 0.5rem;
  }
}

.home-posts__loading {
  display: flex;
  justify-content: center;
  width: 100%;

  & > img {
    width: 68px;
  }
}

@media only screen and (min-width: 1240px) and (max-width: 1639px) {
  .home-posts-container {
    width: 1200px;
  }
}

@media only screen and (max-width: 1239px) {
  .home-posts-container {
    width: 919px;
  }
}

/* post page */
.post-page {
  margin: 5rem 0;
}

.post__header-wrapper {
  width: 768px;
  margin: 0 auto;

  & > h1 {
    font-size: 4.2rem;
    line-height: 1.5;
    margin-top: 0px;
    font-weight: 700;
    color: rgb(52, 58, 64);
    margin-bottom: 2rem;
    word-break: keep-all;
  }
}

.post__info-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.post__is-edited {
  position: absolute;
  left: 29.6rem;
  color: darken($dark-gray, 30%);
}

.post__edit-actions {
  margin-left: 35rem;
}

.post__edit-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  &:hover {
    color: $light-gray;
  }
}

.post__delete-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: $light-red;

  &:hover {
    color: $dark-red;
  }
}

.post__info-separator {
  margin: 0 1rem;
}

.post__publisher-info {
  display: flex;
  align-items: center;

  & > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $light-gray;
  }
}

.post__publisher-nickname {
  margin: 0 0 0 1rem;
  font-weight: 500;
}

.post__tags {
  display: flex;
  margin: 2rem 0;
}

.post__tag-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.5rem;
  margin: 0 1.5rem 1.3rem 0;
  border: 1px solid $light-gray;
  font-size: 1.8rem;
  font-weight: 500;
  box-shadow: 0 0 0 1px lighten($light-gray, 10%);
  color: $indigo;
  border-radius: 1rem;
  background-color: lighten($light-gray, 16%);
  cursor: pointer;
  transition: all ease 0.17s;

  &:hover {
    box-shadow: 0 0 0 2px $indigo;
  }
}

.post__content-wrapper {
  width: 768px;
  margin: 5.5rem auto 0;
}
