$light-gray: #cbcbcb;
$dark-gray: #afafaf;
$indigo: #3f00ff;
$black: #000;
$white: #fff;
$main-background-color: #fcfffa;
$light-red: #e85959;
$dark-red: #b82727;
$light-yellow: #ebc75c;
$medium-yellow: #dfb843;
$dark-yellow: #c59922;
$light-green: #48c684;
$medium-green: #31b46f;
$dark-green: #1d9462;
